.textfield-error{
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
    -fx-color: red;
}

.date-picker-error{
    -fx-focus-color: red ;
    -fx-color: red;
}

.disabled-focus-border{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

